# Author: Benjamin Schmid

Plugins>3DAnimationComposer, "Interactive Animation", animation3d.main.InteractiveRaycaster
Plugins>3DAnimationComposer, "Batch Animation", animation3d.main.BatchRaycaster

# Plugins>3D Animation, "3D Animation", animation.Animate_
# Plugins>3D Animation, "Depthcode Raycaster", animation.DepthcodeRaycaster
# Plugins>3D Animation, "RGB Raycaster", animation.RGBRaycaster
# Plugins>3D Animation, "Composite Raycaster", animation.CompositeRaycaster
# Plugins>3D Animation, "Gamma", animation.Gamma_
